html {
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 475px;
    overflow: hidden;
    background-color: lightgray;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body#home {
    margin: auto;
    max-width: 1280px;
}

body#sys {
    position: relative;
    overflow-y: auto;
    background-color: #EAEAEA;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "ITF Devangari Book";
    font-size: 46pt;
    color: white;
    margin: 0;
    font-weight: 500;
}

h2 {
    font-family: "Monotype Corsiva";
    font-size: 24pt;
    color: #DFE4F4;
    margin: 0;
    font-weight: 500;
}

h3 {
    font-family: "Tw Cen MT";
    font-size: 65pt;
    color: #4B4B99;
    margin: 0;
    font-weight: 500;
}

h4 {
    font-family: "Tw Cen MT";
    font-size: 50pt;
    color: #373737;
    margin: 0;
    font-weight: 500;
}

h5 {
    font-family: "PT Mono";
    font-size: 22pt;
    color: #373737;
    margin: 0;
    font-weight: 500;
}

h6 {
    font-family: "Seravek Light";
    font-size: 16pt;
    color: #373737;
    margin: 0;
    font-weight: 500;
}

hr {
    margin: 0px;
    margin-bottom: 2px;
    background: linear-gradient(to right, #F1F3F200, #F1F3F2, #F1F3F200);
    border: 0;
    height: 3px;
}

input {
    border-color: #777777;
    border-style: solid;
    border-width: 1px;
}

input:disabled {
    background-color: white;
    opacity: 0.4;
}

select {
    appearance: none;
    -webkit-appearance: none;
    border-color: #777777;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    background-image: url("./assets/Arrow.png");
    background-repeat: no-repeat;
    background-position: right;
}

/* Desktop layout. Applicable over 975 pixels wide. */
@media screen and (min-width: 975px) {
    
}

/* Tablet layout. Applicable between 676 to 974 pixels wide. */
@media screen and (min-width: 676px) and (max-width: 974px) {
    
}

/* Phone layout. Applicable up to 675 pixels wide. */
@media screen and (max-width: 675px) {
    
}

#parent {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 90px 1fr;
}

#header {
    position: relative;
    display: grid;
    grid-template-columns: 90px 1fr;
    overflow: hidden;
}

#logo_parent {
    width: 90px;
    height: 90px;
    background-image: linear-gradient(to right, #5759A5, #1A2250);
}

#triangle {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-top: 45px solid #1A2250;;
    border-left: 45px solid #1A2250;;
    border-right: 45px solid transparent;
    border-bottom: 45px solid transparent;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 90px;
}

#banner {
    background-color: #1A2250;
    overflow: hidden;
}

#heading {
    position: absolute;
    margin: 0;
    margin-top: -5px;
    margin-left: 18px;
}

#subheading {
    position: absolute;
    margin: 0;
    margin-top: 56px;
    margin-left: 358px;
}

.lower {
    font-size: 24pt;
}

#banner_divider {
    position: absolute;
    margin: 0;
    margin-top: 38px;
    margin-left: 15px;
}

#LoginWithAmazon {
    position: absolute;
    margin: 0;
    top: 29px;
    right: 10px;
    width: 156px;
    height: 32px;
}

#login_btn {
    border: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#main_container {
    overflow-y: auto;
    border-top: 2px solid white;
}

#home_main {
    background-color: #E8EEEE;
    display: grid;
    grid-template-rows: 300px 300px 420px 61px;
    row-gap: 2px;
}

#home_high_split {
    display: grid;
    grid-template-columns: 10fr 7fr;
}

#home_low_split {
    display: grid;
    grid-template-columns: 7fr 10fr;
}

.home_img_parent {
    padding: 10px;
}

#home_lib_parent {
    background-color: #C3CDD1;
}

#home_emot_parent {
    background-color: #DDE0EE;
}

.home_img_tbl {
    display: table;
    height: 100%;
    width: 100%;
}

.home_img_td {
    display: table-cell;
    vertical-align: middle;
}

.home_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 278px;
    max-width: 100%;
    border: 1px solid #D3D3D3;
}

.home_split {
    padding: 10px;
    min-width: 305px;
    overflow: hidden;
}

#home_lib_split {
    background-color: #C3CDD1;
}

#home_emot_split{
    background-color: #DDE0EE;
}

#home_gen_split{
    background-color: #E0E0E0;
}

#home_lib_heading {
    color: #434343;
}

#home_emot_heading {
    color: #616EAD;
}

#home_gen_heading {
    text-align: center;
    color: #434343;
}

.home_text {
    font-family: "Seravek Light";
    font-size: 18pt;
}

.home_grey_text {
    color: #434343;
}

.home_blue_text {
    color: #616EAD;
}

#home_gen_text {
    text-align: center;
    margin-bottom: 15px;
}

#home_main_footer {
    position: relative;
    background-color: #505050;
    padding: 10px;
}

#home_author {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #777777;
    font-family: "Seravek Light";
    font-size: 10pt;
}

#sys_layout {
    display: grid;
    grid-template-columns: 90px 1fr;
}

#banner_icons {
    position: absolute;
    margin: 0;
    top: 0;
    right: 10px;
    width: 210px;
    height: 100%;
}

.h_icon {
    float: right;
    margin-top: 25px;
    max-width: 50px;
    max-height: 50px;
}

#h_icon_centre {
    margin-left: 30px;
    margin-right: 30px;
}

#user_lbl {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    margin: 0;
    font-family: "Seravek Light";
    font-size: 8pt;
    color: white;
}

#main_frame {
    height: 100%;
    width: 100%;
    border: 0;
    border-top: 2px solid white;
}

#nav_parent {
    position: relative;
    max-width: 90px;
    background-color: #5759A5;
    overflow: hidden;
    border-top: 2px solid white;
}

#nav_bg {
    position: absolute;
    top: -160px;
    right: -160px;
    height: 300px;
    width: 300px;
    background-image: radial-gradient(#1A2250 0%, #5759A5 50%);
}

#nav_layout {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 900px;
    display: grid;
    grid-template-rows: 1fr 120px 1fr 120px 1fr 120px 1fr 120px 1fr;
}

.nav_tbl {
    display: table;
    height: 100%;
    width: 100%;
}

.nav_icon_parent {
    display: table-cell;
    vertical-align: middle;
}

.nav_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 70px;
    max-width: 70px
}

.nav_icon_label {
    font-family: "Tw Cen MT";
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    margin-top: 2px;
    font-size: 12pt;
}

#sys_overlay {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background-color: #A9A9D0;
}

#sys_loading {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    height: 300px;
    width: 300px;
}

#sys_loading_heading {
    font-size: 60pt;
    text-align: center;
    color: #F1F3F2;
}

#sys_loading_subheading {
    text-align: center;
    font-size: 36pt;
}

#sys_wheel {
    margin-left: 75px;
    width: 150px;
    height: 150px;
}

#sys_main {
    padding: 15px;
}

#sys_heading {
    margin-top: 50px;
    margin-bottom: 0px;
}

#sys_subheading {
    margin: 0;
    margin-top: 0px;
    margin-bottom: 20px;
}

#sys_parent {
    margin-top: 20px;
    padding: 10px;
    background-color: #F7F7F7;
    border: 2px solid #E0E0E0;
}

#sys_content {
    width: 100%;
    min-height: 600px;
    overflow-x: auto;
}

.home_tbl {
    text-align: left;
    border-collapse: collapse;
}

#sys_tbl {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #A3A3A3;
}

td, th {
    padding: 5px;
    color: #373737;
    margin: 0;
}

th {
    font-family: "PT Mono";
    font-size: 15pt;
    font-weight: 500;
}

td {
    font-family: "Seravek Light";
    font-size: 13pt;
}

table tr:first-child th {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

table tr td:first-child, table tr th:first-child {
    border-left: none;
}

table tr td:last-child, table tr th:last-child {
    border-right: none;
}

.home_td {
    border-top: none;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.cover {
    display: block;
    margin: auto;
    border: 1px solid #A3A3A3;
}

#lib_cover {
    width: 58px;
    height: 78px;
}

.sys_updt_btn {
    padding: 5px;
    background-color: #C3CDD1;
    color: #555555;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
    width: 95px;
    height: 20px;
    text-decoration: none;
}

.sys_del_btn {
    padding: 5px;
    background-color: #C3CDD1;
    color: #555555;
    border-radius: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
    width: 95px;
    height: 20px;
    text-decoration: none;
}

.sys_action_icon {
    display: block;
    float: left;
    max-height: 20px;
    max-width: 20px;
    margin: 0;
    margin-left: 5px;
    margin-right: 10px;
}

.sys_action_lbl {
    display: block;
    float: left;
    margin: 0;
}

#se_backdrop_parent {
    position: relative;
    width: 100%;
    height: 150px;
}

#se_backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/Cover.png");
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
}

#se_backdrop_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#00000000, #EAEAEA);
}

#se_heading {
    margin-bottom: 5px;
}

#se_req_lbl {
    text-align: right;
    margin-bottom: -30px;
}

.se_super {
    font-size: 14pt;
    margin: 0;
    margin-right: 4px; 
}

#se_info {
    padding: 15px;
    display: grid;
    grid-template-rows: 38px 38px 38px 120px 48px;
    row-gap: 40px;
}

.se_info_rows {
    display: grid;
    grid-template-columns: 235px 1fr 38px;
    column-gap: 20px;
}

#se_cover_row {
    display: grid;
    grid-template-columns: 235px 89px 38px;
    column-gap: 20px;
}

#se_text_btn_row {
    display: grid;
    grid-template-columns: 1fr 38px;
    column-gap: 20px;
}

.se_lbl {
    font-family: "PT Mono";
    font-size: 22pt;
    color: #373737;
    margin: 0;
    font-weight: 500;
}

.shrink {
    padding-right: 22.01px;
    padding-bottom: 2px;
}

.se_field {
    width: 100%;
    height: 100%;
    font-family: "Seravek Light";
    font-size: 18pt;
    color: #373737;
    margin: 0;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.se_img_btn {
    width: 36px;
    height: 33px;
    margin: 0;
    padding-top: 3px;
    background-color: white;
    border-color: #777777;
    border-style: solid;
    border-width: 1px;
}

.se_icon {
    display: block;
    max-width: 30px;
    max-height: 30px;
    margin: auto;
}

#se_cover {
    width: 89px;
    height: 120px;
}

.se_text_btn {
    float: right;
    width: 280px;
    height: 38px;
    font-family: "PT Mono";
    font-size: 20pt;
    color: white;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    border-radius: 30px;
}

#se_save_btn {
    background-color: #454394;
}

#se_discard_btn {
    background-color: #9495B9;
    margin-left: 10px;
}

#se_actions_heading {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

#se_actions {
    padding: 15px;
    display: grid;
    grid-template-rows: 38px 38px 48px;
    row-gap: 40px;
}

.se_action_rows {
    max-width: 750px;
    display: grid;
    grid-template-columns: 155px 83px 1fr 205px 38px 1fr;
    column-gap: 20px;
}

.se_action {
    list-style-type: square;
    font-family: "PT Mono";
    font-size: 22pt;
    color: #373737;
    margin: 0;
    margin-left: -15px;
    font-weight: 500;
}

.se_indent {
    position: relative;
    left: 15px;
}

#se_exit_btn {
    background-color: #1A2250;
}

#sec_layout {
    display: grid;
    grid-template-rows: 1fr 48px;
    row-gap: 15px;
}

/* repositions the editor's save button */
.mce-container.mce-toolbar.mce-stack-layout-item.mce-last {
    position: absolute;
    top: 0px;
    right: 0px;
}

#ee_heading {
    margin: 0;
    margin-bottom: 30px;
}

.ee_colour {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: 1px solid #A3A3A3;
}

#ee_happy {
    background-color: #FBB00F;
}

#ee_sad {
    background-color: #5373B8;
}

#ee_excited {
    background-color: #919904;
}

#ee_disappointed {
    background-color: #9E4B1E;
}

#ee_info {
    padding: 15px;
    display: grid;
    grid-template-rows: 38px 38px 48px;
    row-gap: 40px;
}

#ee_cover_row {
    display: grid;
    grid-template-columns: 235px 38px 38px;
    column-gap: 20px;
}

#a_info {
    padding: 15px;
    display: grid;
    grid-template-rows: 38px 38px;
    row-gap: 40px;
}